Библиотека pandas активно используется в современном data science для работы с данными, которые могут быть представлены в виде таблиц (а это очень, очень большая часть данных)

In [86]:
import numpy as np
import pandas as pd

In [87]:
!wget https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps

--2020-11-19 14:13:42--  https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps
Resolving www.kaggle.com (www.kaggle.com)... 35.244.233.98
Connecting to www.kaggle.com (www.kaggle.com)|35.244.233.98|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘app-store-apple-data-set-10k-apps’

app-store-apple-dat     [   <=>              ]  64.93K   147KB/s    in 0.4s

2020-11-19 14:13:44 (147 KB/s) - ‘app-store-apple-data-set-10k-apps’ saved [66490]

In [89]:
data = pd.read_csv('/tmp/AppleStore.csv')
print(data)

      Unnamed: 0          id  ... lang.num  vpp_lic
0              1   281656475  ...       10        1
1              2   281796108  ...       23        1
2              3   281940292  ...        3        1
3              4   282614216  ...        9        1
4              5   282935706  ...       45        1
...          ...         ...  ...      ...      ...
7192       11081  1187617475  ...        1        1
7193       11082  1187682390  ...        1        1
7194       11087  1187779532  ...        1        1
7195       11089  1187838770  ...        2        1
7196       11097  1188375727  ...        2        1

[7197 rows x 17 columns]

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7197 non-null   int64
 1   id                7197 non-null   int64
 2   track_name        7197 non-null   object
 3   size_bytes        7197 non-null   int64
 4   currency          7197 non-null   object
 5   price             7197 non-null   float64
 6   rating_count_tot  7197 non-null   int64
 7   rating_count_ver  7197 non-null   int64
 8   user_rating       7197 non-null   float64
 9   user_rating_ver   7197 non-null   float64
 10  ver               7197 non-null   object
 11  cont_rating       7197 non-null   object
 12  prime_genre       7197 non-null   object
 13  sup_devices.num   7197 non-null   int64
 14  ipadSc_urls.num   7197 non-null   int64
 15  lang.num          7197 non-null   int64
 16  vpp_lic           7197 non-null   int64
dtypes: float64(3), int64(9), object(5)
memory usage: 956.0+ KB

In [91]:
data.describe()

         Unnamed: 0            id  ...     lang.num      vpp_lic
count   7197.000000  7.197000e+03  ...  7197.000000  7197.000000
mean    4759.069612  8.631310e+08  ...     5.434903     0.993053
std     3093.625213  2.712368e+08  ...     7.919593     0.083066
min        1.000000  2.816565e+08  ...     0.000000     0.000000
25%     2090.000000  6.000937e+08  ...     1.000000     1.000000
50%     4380.000000  9.781482e+08  ...     1.000000     1.000000
75%     7223.000000  1.082310e+09  ...     8.000000     1.000000
max    11097.000000  1.188376e+09  ...    75.000000     1.000000

[8 rows x 12 columns]

In [92]:
data.columns

Index(['Unnamed: 0', 'id', 'track_name', 'size_bytes', 'currency', 'price',
       'rating_count_tot', 'rating_count_ver', 'user_rating',
       'user_rating_ver', 'ver', 'cont_rating', 'prime_genre',
       'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'],
      dtype='object')